.all_charts {
  display: flex;
  justify-content: space-around;
  margin: 2%;
}

.perf_chart_container {
  border-radius: 25px;
  padding: 1%;
  border: 1px solid #D3D3D3;
  background: #F5F5F5;
  width: 45%;
  margin: auto;
}

.chart {

}
