.all_charts {
  display: flex;
  justify-content: space-around;
  margin: 2%;
}

.perf_chart_container {
  border-radius: 25px;
  padding: 1%;
  border: 1px solid black;
  background: #e6e6e6;
  width: 45%;
  margin: auto;
}

.chart {
  
}
